.env
.vscode
.devcontainer

db.sqlite3
__pycache__
**/__pycache__
volumes
logs/**

**/migrations

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.pid
reports/

documentation/_build
documentation/_build/**
documentation/output
documentation/output/**

static/**
static
staticfiles/**
staticfiles
logs/**
flower_data/**
prometheus/**
redisinsight/**
grafana/**
Docs/**

# PyCharm
/.idea

