{% load partials %}

<button class="btn btn-warning float-right my-1" onclick="my_modal.showModal()">
  <i class="fa-solid fa-plus"></i>
  Create Task
</button>
<dialog id="my_modal" class="modal">
  <form class="modal-box" method="post" action="{% url 'create_task' %}" >
    {% csrf_token %}
    <h1 class="text-center text-info text-xl font-bold my-5">Create New Task</h1>
    <div class="flex flex-row justify-center align-middle space-x-2 my-5">
      <div class= "w-32">{{ form.name.label_tag }}</div>
      {{ form.name }}
    </div>
    <div class="flex flex-row justify-center align-middle space-x-2 my-5">
      <div class= "w-32">{{ form.description.label_tag }}</div>
      {{ form.description }}
    </div>
    <div class="flex flex-row justify-center align-middle text-center space-x-2 my-5">
      <div class= "w-32">{{ form.task_type.label_tag }}</div>
      {{ form.task_type }}
    </div>
    <div class="flex flex-row justify-center align-middle text-center space-x-2 my-5">
      <div class= "w-32">{{ form.cron_expression.label_tag }}</div>
      {{ form.cron_expression }}
    </div>
    <div class="flex flex-row justify-center align-middle text-center space-x-2 my-5">
      <div class= "w-32">{{ form.retry_number.label_tag }}</div>
      {{ form.retry_number }}
    </div>
    {% comment %} 
      <div class="flex flex-row justify-start align-middle text-center space-x-2 my-5 ml-8">
        <div class= "w-32">{{ form.enabled.label_tag }}</div>
        {{ form.enabled }}
      </div> 
    {% endcomment %}

    <div class="flex flex-row justify-end w-full mt-2 px-1 space-x-2">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-error" onclick="my_modal.close()">Close</button>
    </div>

  </form>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>


{% block scripts%}
<script>
  // Close modal
  function closeModal() {
    var closeModalForm = document.evaluate('//dialog[@id="my_modal"]', document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
    if (closeModalForm) {
      closeModalForm.close();
    }
  }




</script>
{% endblock %}