{% extends 'base.html' %} 
{% block title %}Home{% endblock %} 
{% block content%}
<header class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Task Scheduler App</h1>
      <p class="py-6">
        A simple task scheduler app built with Django, Celery and Tailwind CSS that allows you to schedule tasks to run at a specific time.
      </p>
      <button class="btn btn-warning">
        <a href="{% url 'tasks' %}">Tasks</a>
      </button>
    </div>
  </div>
</header>
{% endblock %}
