{% extends 'base.html' %} 
{% block title %}Register{% endblock %} 
{% block content%}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col">
    <h1 class="text-2xl font-bold">Create new Account</h1>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body"  method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.username.label_tag }}
        {{ form.username }}
        
        {{ form.password.label_tag }}
        {{ form.password }}

        {{ form.password2.label_tag }}
        {{ form.password2 }}

        {{ form.phone.label_tag }}
        {{ form.phone }}

        <div class="flex justify-center my-2">
          <img id="preview-image" src="#" alt="Image Preview" style="display: none; max-width: 100%; max-height: 200px;">
        </div>

        {{ form.image.label_tag }}
        {{ form.image }}

        <div class="form-control mt-6">
          <button class="btn btn-primary" type="submit" >Register</button>
        </div>
      </form>

      <p class="my-3 text-center text-sm text-gray-500">
        Already a member?
        <a
        href="{% url 'login' %}"
          class="font-semibold leading-6 text-primary hover:text-secondary ml-2"
        >
          Sign In
        </a>
      </p>
    </div>
  </div>

  {% if error_message %}
  <div class="toast toast-end toast-top mt-16" id="toast-container">
    <div class="alert alert-error">
      <span >{{error_message}}</span>
      <button class="btn btn-circle btn-outline" onclick="closeToast()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
      </button>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
  function closeToast() {
    var toastErrorContainer = document.getElementById('toast-container');
    toastErrorContainer.classList.add('invisible');
    {% comment %} toastErrorContainer.style.display = 'none'; {% endcomment %}
  }

   // Function to update image preview
  function updateImagePreview(input) {
    var previewImage = document.getElementById('preview-image');
    var file = input.files[0];

    if (file) {
      var reader = new FileReader();
      reader.onload = function(e) {
        previewImage.src = e.target.result;
        previewImage.style.display = 'block';
      };

      reader.readAsDataURL(file);
    } else {
      previewImage.style.display = 'none';
    }
  }

  // Attach the updateImagePreview function to the change event of the file input
  document.getElementById('image-input').addEventListener('change', function() {
    updateImagePreview(this);
  });
</script>
{% endblock %}
